.footer {
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6699FF;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.bold-footer-text {
    font-weight: 600;
    font-size: .7rem;
}

.email-link {
    text-decoration: none;
    color: black;
}



.owner-desc {
    font-size: .7rem;
}


@media (min-width: 400px) {
    
    .footer-inner-container {
        flex-direction: row;
        gap: 20px;
    }

}

@media (min-width: 550px) {
    .footer {
        font-size: .8rem;
    }

    .bold-footer-text {
        font-size: 1rem;
    }
}