
.homepage-container {
    height: 100vh;
    margin-bottom: -20px;
    z-index: -20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.homepage-logo {
    max-width: 900px;
    padding-bottom: -100px;
    overflow: hidden;
    margin-top: -80px;
}

.homepage-btn {
    background-color: #f87f28;
    border: none;
    width: 270px;
    height: 40px;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    margin-top: -30px;
    transition: transform 450ms;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}

.homepage-btn:hover {
    transform: scale(1.07);
}

@media (min-width: 1100px) {
    .homepage-btn {
        width: 350px;
        height: 50px;
        font-size: 1.2rem;
    }
}