.property-card {
    height: fit-content;
    width: fit-content;
    background-color: #e9ecef;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    max-width: 350px;
    border-radius: 10px;
}

.availability {
    width: fit-content;
    padding: 6px 20px 6px 20px;
    color: black; 
    border-radius: 40px;
}

.availability-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

.available {
    width: 17px;
    height: 17px;
    background-color: green;
    margin-right: -12px;
    border-radius: 100px;
}

.unavailable {
    width: 17px;
    height: 17px;
    background-color: red;
    margin-right: -12px;
    border-radius: 100px;
}

.property-cover-img-container img {
    width: 100%;
    border-radius: 10px;
}

.address-rent-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.address-rent-container h4 {
    font-size: 14px;
}

.property-card-rent {
    font-size: 38px;
}

.property-card-details-container {
    padding-top: 10px;
    font-size: 22px;
}

.property-card-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.property-info {
    font-weight: bold;
    margin-left: 10px;
}

.property-card-link {
    text-decoration: none;
    color: black;
}

.property-card-detail-flex-container {
    display: flex;
    justify-content: space-between;
}